<section class="container page-blog">
  <ul class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li><a href="blogs.html">blogs</a></li>
    <li class="active">{{ site.data.blog.title }}</li>
  </ul>

  <section class="blog">
    <div class="row">
      <div class="col-md-3 pull-left image">
        <img class="images blog img-responsive" src="{{ site.data.blog.image }}" />
      </div>
      <div class="col-md-9 blog-content">
        <h2>{{ site.data.blog.title }}</h2>
        <div class="meta-info">
          <span class="first fa fa-clock-o"></span>{{ site.data.blog.date }}
          <span class="fa fa-user"></span>{{ site.data.blog.user }}
          <span class="fa fa-eye"></span>{{ site.data.blog.viewed }}
          <span class="fa fa-thumbs-o-up"></span>{{ site.data.blog.like }}

          {% for tag in site.data.blog.tags %}
          <span class="label label-info"><a href="{{ tag.url }}">{{ tag.title }}</a></span>
          {% endfor %}
        </div>

        {{ site.data.blog.text }}
      </div>
    </div>
  </section>

  <section class="comments">
    <div class="page-header blogs-header clearfix">
      <h2>Comments</h2>
    </div>

    <ul>
      {% for comment in site.data.comments %}
      <li  class="comment">
        <div class="row">
          <div class="col-md-3"><img class="images comments img-responsive" src="{{ comment.image }}" /></div>
          <div class="col-md-9">
            <div class="meta-info">
              <span class="first fa fa-clock-o"></span>{{ comment.date }}
              <span class="fa fa-user"></span>{{ comment.user }}
              <span class="fa fa-thumbs-o-up"></span>{{ comment.point }}
            </div>

            {{ comment.text }}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>

    <ul class="pagination clearfix">
      <li class="disabled"><a href="#">«</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </section>

  <section class="form">
    <form class="form-horizontal">
      <fieldset>
        <legend>What do you think on this blog?</legend>
        <div class="form-group">
          <div class="col-lg-12">
            <textarea class="form-control" rows="3" id="textArea"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12">
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </section>
</section>