<section class="top container">
  <ul class="breadcrumb">
    <li class="active">Home</li>
  </ul>

  <div class="row">
    <div class="col-md-8 first">

      <div class="page-header questions-header"><h3>Questions</h3></div>

      {% for item in site.data.questions %}
        <div class="questions-wrapper clearfix">
          <div class="question">
            <img src="{{ item.image }}" class="images question" />
            <div class="content">
              <a href="{{ item.url }}">{{ item.title }}</a>
              <div class="meta-info">
                <span class="first fa fa-clock-o"></span> {{ item.date }}
                <span class="fa fa-user"></span> {{ item.user }}
                <span class="fa fa-eye"></span> {{ item.viewed }}
                <span class="fa fa-thumbs-o-up"></span> {{ item.like }}
              </div>
              <div class="text">
                {{ item.text }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="col-md-4 second">

      <div>
        <div class="page-header events-header"><h4>Events</h4></div>

        <ul>
          <li>asdassad</li>
          <li>asdassad</li>
          <li>asdassad</li>
          <li>asdassad</li>
        </ul>
      </div>

      <div>
        <div class="page-header video-header"><h4>Last videos</h4></div>

        <ul>
          <li>asdassad</li>
          <li>asdassad</li>
          <li>asdassad</li>
          <li>asdassad</li>
        </ul>
      </div>

      <div>
        <div class="page-header users-header"><h4>Online users</h4></div>

        <ul>
          <li>asdassad</li>
          <li>asdassad</li>
          <li>asdassad</li>
          <li>asdassad</li>
        </ul>
      </div>

    </div>
  </div>
</section>

<section class="bottom container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header blog-header"><h3>Blogs</h3></div>

      <div class="panel panel-default">
        <div class="panel-heading">Blogs</div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Companies</div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
  </div>
</section>