.questions-header {
  border-bottom-color: $question-border;
}

.questions-wrapper {
  padding-bottom: 10px;

  .question {

    img {
      float: left;
      margin-right: 10px;
    }

    .content {

      a {
        font-size: 17px;
      }
    }

  }
}

.blog-header {
  border-bottom-color: $blogs-border;
}

.events-header {
  border-bottom-color: $events-border;
}

.video-header {
  border-bottom-color: $video-border;
}

.users-header {
  border-bottom-color: $users-border;
}

.second {
  padding-top: 7px;
}