.page-videos {

  .videos-header,
  .playlist-header {
    border-bottom-color: $videos-header;
  }

  .videos {
    margin-bottom: 10px;

    .video-wrapper {
      position: relative;
      margin-bottom: 10px;

      .meta-info {
        position: absolute;
        border-top: solid 1px $video-border;
        bottom: 0px;
        color: white;
        background: black;
        opacity: 0.8;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
      }
    }
  }

  .playlist-header {
    margin-top: 40px;
  }
}