@import "compass/css3/transition";
@import "compass/css3/transform";
@import 'bootstrap';


body {
  padding-top: 70px;

  .navbar {
    border-color: #9de2ff;
  }

  #search {
    width: 250px;
  }

  .secondary-menu {
    float: right;
  }
}